html, body {
    height: 100%;
    margin: 0; 
    overflow-x: hidden; 
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(80, 97, 140);
    margin:0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

main {
    flex: 1;

}

body h1 {
    font-weight: 30px;
    text-decoration: underline;
}

label {
    font-weight: 700;
    line-height: 2;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

button {
    font-size: 17px;
    background-color: white;
    transition: background-color 1s;
    padding: 5px 5px;
    
}

button:hover {
    background-color: rgb(188, 68, 68);
}

input {
    width: 100%;
    height: 23px;
    border-radius: 5px;
    max-width: 400px;
}

footer {
    background-color: #1022;
    color: white;
    padding: 10px;
    text-align: center;
    position:sticky;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}